### 데이터 전처리

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('./data/contacts.csv')

#### 중복 데이터 처리

In [6]:
df.duplicated().sum()
df = df.drop_duplicates().reset_index(drop=True)
df

   Name          Phone                     Email
0   김민수  010-1234-5678       minsu.kim@gmail.com
1   이지은  010-2345-6789       jieun.lee@naver.com
2   박철수  010-3456-7890  chulsoo.park@hotmail.com
3   홍길동  010-4567-8901     gildong.hong@daum.net
4   김영희  010-5678-9012    younghee.kim@gmail.com
..  ...            ...                       ...
71  범수정  010-3456-7892   soojeong.beom@gmail.com
72  이호진  010-4567-8904        hojin.lee@daum.net
73  정지윤  010-5678-9015         jungzee@naver.com
74  김지현  010-6789-0126          jh.kim@gmail.com
75  이지훈  010-7890-1237           leejh@gmail.com

[76 rows x 3 columns]

# 결측치 처리

In [8]:
df.isna().sum()

Name     0
Phone    6
Email    1
dtype: int64

In [10]:
#df.isnull()
print(df.isnull().sum())
df.isnull()

Name     0
Phone    6
Email    1
dtype: int64

     Name  Phone  Email
0   False  False  False
1   False  False  False
2   False  False  False
3   False  False  False
4   False  False  False
..    ...    ...    ...
71  False  False  False
72  False  False  False
73  False  False  False
74  False  False  False
75  False  False  False

[76 rows x 3 columns]

In [11]:
df['Phone'].value_counts()

Phone
010-4567-8904    2
010-3456-7892    2
010-2345-6789    2
010-0123-4569    2
010-6789-0126    2
                ..
010-8901-2346    1
010-9012-3458    1
010-1234-5681    1
010-2345-6782    1
010-1234-5672    1
Name: count, Length: 63, dtype: int64

In [12]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 75
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    70 non-null     object
 1   Phone   70 non-null     object
 2   Email   70 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB