# 변수 (Variable)

In [3]:
date = 250210
name = '이현대'

In [5]:
print(date)
print(name)

250210
이현대

In [8]:
m = 100
n = m+10
print(n)

110

---
### **문제 1**

아래 설명에 맞게 변수를 선언하고 값을 대입하세요.

1. `name`이라는 이름의 변수를 선언하고, **당신의 이름**을 문자열로 저장하세요.
2. `age`라는 이름의 변수를 선언하고, **당신의 나이**를 숫자로 저장하세요.

In [12]:
name = "이현대"
age = 28
print('이름 : ',name,'\n나이 : ', age)

이름 :  이현대
나이 :  28

---
### **문제 2**

다음 조건에 맞게 변수를 작성해보세요.

1. `height`라는 변수에 **키**를 숫자형으로 저장하세요.
2. `dream`이라는 변수에 **당신의 목표**을 문자열로 저장하세요.

In [ ]:
height = 175
dream = '데이터엔지니어'
print('키 : ',height)
print('꿈 : ',dream)

---
### **문제 3**

변수에 담긴 값을 다른 변수에 대입하는 연습을 해봅시다.

1. `city`라는 변수에 **당신이 살고 있는 도시 이름**을 문자열로 저장하세요.
2. `my_city`라는 변수에 `city` 변수의 값을 대입하세요.
3. 두 변수를 각각 `print()`로 출력해보세요.

In [13]:
city = '서울'
my_city = city
print(city)
print(my_city)

서울
서울

---

### **문제 4**

다음과 같은 규칙에 맞는 변수를 작성하세요.

---

1. **사과의 개수**를 나타내는 변수를 `apple_count`로 선언하고 숫자 `10`을 저장하세요.
2. **오렌지의 개수**를 나타내는 변수를 `orange_count`로 선언하고 숫자 `20`을 저장하세요.
3. 두 변수를 출력해보세요.

In [14]:
apple_count=10
orange_count=20
print(apple_count)
print(orange_count)

10
20

---
### **문제 5**

다음과 같은 규칙을 지켜 변수를 작성하세요.

1. 변수 이름은 **스네이크 케이스**를 따릅니다.
2. `first_name`에 **당신의 이름의 첫 글자**를 문자열로 저장하세요.
3. `last_name`에 **당신의 성**을 문자열로 저장하세요.
4. `full_name` 변수에 `first_name`과 `last_name`을 이어붙여서 저장하세요.
5. `print()`를 사용해 `full_name`을 출력해보세요.

In [15]:
first_name ='현'
last_name = '이'
full_name = first_name + last_name
print(full_name)

현이